.discord{
    display: block;
    position: absolute;
    background-color: #7289da;;
    color: white;
    border-radius: 7px;
    bottom: -348px;
    right: 0px;
    width: 400px;
    height: 400px;
}

.discord p{
    margin-left: 20px;
}

.info-discord{
    display: inline-flex;
    text-align: left;
    width: inherit;
}

.info-discord button{
    position: absolute;
    background-color: #7289da;
    color: white;
    border: none;
    padding-top: 18px;
    right: 15px;
    cursor: pointer;
}

.iframe-discord{
    border-style: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 400px;
    height: 345px;
}