/*.discord{
    display: block;
    position: absolute;
    background-color: #7289da;
    color: white;
    border-radius: 7px;
    right: 0px;
    width: 400px;
    height: 400px;
}

.discord p{
    margin-left: 20px;
}
*/
