.App {
  text-align: center;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.cards{
  display: flexbox;
  text-align: left;
  /*border: 1px solid gainsboro;*/
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
