.App {
  text-align: center;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  overflow: hidden;
  font-size: 24px;
}

.cards{
  display: flexbox;
  text-align: left;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
}

.first-half{
  min-height: 100vh;
}

.bottomText{
  margin: 25px;
}

@media screen and (max-width: 1000px){
  .App{
    font-size: 18px;
  }

  .first-half{
    min-height: 80vh;
  }
}

@media screen and (max-width: 400px){
  .App{
    font-size: 12px;
  }

  .first-half{
    min-height: 84vh;
  }
}
